.post-comments li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-left: 2em;
  margin-bottom: 0.5em;
}

.comment span {
  display: inline-flex;
  justify-content: center;
  align-items: end;
}

.comment button {
  visibility: hidden;
}

.comment:hover button {
  visibility: visible;
}
