header,
.menu-header {
  width: 100%;
  background-color: var(--background-main);
  padding: 16px 16px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

h1 {
  text-align: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.svg-icon {
  height: 24px;
  width: 18px;
}

.svg-sidekick {
  width: 71px;
  height: 15px;
}

@media (max-width: 500px) {
  body.menu-open .menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80vw;
    z-index: 100;
    background-color: var(--background-root);
    border-left: 1px solid var(--border-color);
  }

  header > nav {
    display: none;
  }
}

@media (max-width: 376px) {
  header,
  .menu-header {
    height: 24px;
    gap: 4px;
  }

  .svg-icon {
    height: 12px;
    width: 9px;
  }

  .svg-sidekick {
    width: 36px;
    height: 7px;
  }
}
