aside .frame {
  padding: 20px;
  margin-bottom: 20px;
}

aside {
  position: absolute;
  right: max(-25em, -23vw);
  top: 0em;
  width: 341px;
  font-size: 16px;
}

aside h3 {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 1450px) {
  aside {
    display: none;
  }
}
