.svg-x path,
.svg-notfound path,
.svg-pen path,
.svg-sidekick path,
.svg-eye path,
.svg-expand path,
.svg-email path,
.svg-hamburger path,
.svg-person path,
.svg-trash path,
.svg-upload-file path {
  fill: var(--svg-color);
}

.svg-heart-disliked path,
.svg-heart-liked path,
.svg-comment path {
  stroke: var(--svg-color);
}

.svg-heart-liked {
  fill: var(--svg-color);
}
