* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: min(700px, 100%);
  margin: 1em 0;
  position: relative;
}

@media (max-width: 376px) {
  .svg-x {
    height: 40px;
    width: 40px;
  }

  .svg-notfound {
    height: 80px;
    width: 80px;
  }
  h1 {
    font-size: 1em;
  }
}
